.Desktop1 {
    background: white;
    background: linear-gradient(90deg, rgb(52, 152, 219), rgb(169, 79, 83));
  
}
.AndroidSmall1 {
    padding-top: 303.97px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 17px;
    position: absolute;
    background: black;
    border-radius: 18px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    display: inline-flex;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%)
  
}


    
     

